<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html lang="en">

  <head data-id="__react-email-head"></head>

  <body data-id="__react-email-body" style="font-size:1rem;background-color:rgb(255,255,255);margin-top:auto;margin-bottom:auto;margin-left:auto;margin-right:auto;font-family:ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;line-height:1.5rem;color:rgb(115,115,115)">
    <table align="center" width="100%" data-id="__react-email-container" role="presentation" cellSpacing="0" cellPadding="0" border="0" style="max-width:37.5em;border-width:1px;border-style:solid;border-color:rgb(234,234,234);border-radius:0.25rem;margin-top:40px;margin-bottom:40px;margin-left:auto;margin-right:auto;padding:20px;width:565px">
      <tbody>
        <tr style="width:100%">
          <td>
            <table align="center" width="100%" data-id="react-email-section" border="0" cellPadding="0" cellSpacing="0" role="presentation" style="margin-bottom:24px">
              <tbody>
                <tr>
                  <td>
                    <table align="center" width="100%" data-id="react-email-row" role="presentation" cellSpacing="0" cellPadding="0" border="0">
                      <tbody style="width:100%">
                        <tr style="width:100%">
                          <td align="center" data-id="__react-email-column" style="vertical-align:middle"><img data-id="react-email-img" alt="Logo" src="https://portal.mimedia.com/logos/mimedia-logo.png" width="80" style="display:inline-block;outline:none;border:none;text-decoration:none;vertical-align:bottom" />
                            <p data-id="react-email-text" style="font-size:1.875rem;line-height:2.25rem;margin:16px 0;display:inline-block"><span style="color:rgb(1,161,159)">mi</span>media</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <p data-id="react-email-text" style="font-size:14px;line-height:24px;margin:16px 0;margin-bottom:0.5rem">Hi {firstName}!</p>
            <p data-id="react-email-text" style="font-size:14px;line-height:24px;margin:16px 0;margin-bottom:0.5rem">You are currently using {currentUseGB} Gb of cloud storage. The storage limit for the {futureProductName} is {futureLimitGB} Gb.
              Please remove {removeGB} of data to downgrade. Otherwise your request for plan change will NOT take effect,
              and you will be charged on {scheduledForTime} for {prevProductName}, as usual.</p>
            <p data-id="react-email-text" style="font-size:14px;line-height:24px;margin:16px 0;margin-bottom:0.5rem">The Mimedia Team</p>
          </td>
        </tr>
      </tbody>
    </table>
    <table align="center" width="100%" data-id="react-email-section" border="0" cellPadding="0" cellSpacing="0" role="presentation">
      <tbody>
        <tr>
          <td>
            <table align="center" width="100%" data-id="react-email-row" role="presentation" cellSpacing="0" cellPadding="0" border="0">
              <tbody style="width:100%">
                <tr style="width:100%">
                  <td align="center" data-id="__react-email-column"><a href="https://portal.mimedia.com/orbic" data-id="react-email-link" target="_blank" style="color:rgb(1,161,159);text-decoration:none;font-size:0.875rem;line-height:1.25rem">Home</a><span style="margin-left:0.5rem;margin-right:0.5rem">|</span><a href="https://orbic.us/pages/contact-us" data-id="react-email-link" target="_blank" style="color:rgb(1,161,159);text-decoration:none;font-size:0.875rem;line-height:1.25rem">Support</a></td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>

</html>